html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #000 url('img/msz_lupa.jpg') no-repeat 0 0;
  background-size: contain;
  background-position: 50% 0;
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer,
header {
  background: #000;
  width: 100%;
  color: #fff;
  max-height: 20%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
}
main {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 15%;
  padding-right: 15%;
  color: #111;
  font-size: 24px;
  height: 100%;
}
ul,
p {
  margin: 12px 0;
}

ul {
  list-style-type: none;
}

h2 {
  margin: 20px 0;
}
h3 {
  margin: 20px 0;
}
a, a:visited {
  color: #ccc;
}
